@model Masters.Models.CategoryStore

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutAdmin";
}

<h1>Details</h1>

<div>
    <h4>Category and Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Cat)*@
            Category Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cat.CategoryName)
        </dd>
        <dt class = "col-sm-2">
@*            @Html.DisplayNameFor(model => model.Store)
*@
            Store Name
</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store.StoreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
