@model IEnumerable<CategoryStore>
@{
    Layout = "_Layout1";
}
 <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Categories</h1>
                        <p class="mb-4">You can choose the categories to see the products to be purchased from each category.</p>
                        <p><a href="" class="btn btn-secondary me-2">Shop Now</a><!--<a href="#" class="btn btn-white-outline">Explore</a>--></p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img-wrap">
                        <img src="~/new/images/couch.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->


    <section class="layout_padding what_we_do">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full heading_s1">
                        <h3 style="text-align:center">Our Categories</h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>-->
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach(var item in Model){
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="~/Img/@item.Cat.ImagePath" alt="#" />
                        <a class="decorate_blog_bt" asp-controller="Home" asp-action="AllProducts" asp-route-id="@item.Id">@item.Cat.CategoryName</a>
                    </div>
                </div>}
               @* <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm2.png" alt="#" />
                        <a class="decorate_blog_bt" href="od.html">Office Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm3.png" alt="#" />
                        <a class="decorate_blog_bt" href="fd.html">Furniture Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm4.png" alt="#" />
                        <a class="decorate_blog_bt" href="ld.html">Lighting Decorate</a>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm1.png" alt="#" />
                        <a class="decorate_blog_bt" href="hd.html">Home Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm2.png" alt="#" />
                        <a class="decorate_blog_bt" href="od.html">Office Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm3.png" alt="#" />
                        <a class="decorate_blog_bt" href="fd.html">Furniture Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm4.png" alt="#" />
                        <a class="decorate_blog_bt" href="ld.html">Lighting Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm1.png" alt="#" />
                        <a class="decorate_blog_bt" href="hd.html">Home Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm2.png" alt="#" />
                        <a class="decorate_blog_bt" href="od.html">Office Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm3.png" alt="#" />
                        <a class="decorate_blog_bt" href="fd.html">Furniture Decorate</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="full decorate_blog">
                        <img src="images2/sm4.png" alt="#" />
                        <a class="decorate_blog_bt" href="ld.html">Lighting Decorate</a>
                    </div>
                </div>*@
            </div>
            <!--<div class="row">
                <div class="col-sm-12">
                    <div class="full">
                        <a class="read_more_bt float-right" href="#">Read More</a>
                    </div>
                </div>
            </div>-->
        </div>
        </section><br /><br />